openapi: 3.0.3
info:
  title: Apollon API
  description: |
    Apollon 顧客管理サービスのAPI仕様書です。
    このドキュメントは、Web予約システムに必要なエンドポイントを定義します。
  version: 2.0.0
  contact:
    name: API Support
    email: support@example.com
servers:
  - url: http://localhost:8080/v1
    description: 開発環境サーバー
  - url: https://api.apollon.example.com/v1
    description: 本番環境サーバー

tags:
  - name: Web
    description: Web予約
  - name: Cast
    description: キャスト専用管理

paths:
  /casts/{castId}/reservations/today:
    get:
      tags:
        - Cast
      summary: 今日の予約情報取得API
      description: ログインしているキャストの今日の予約情報を取得します。
      operationId: getTodaysReservations
      parameters:
        - $ref: "./components/parameters/cast/CastIdPath.yaml"
      responses:
        '200':
          description: 正常系レスポンス
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TodaysReservations"
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /casts/{castId}/shifts/today:
    get:
      tags:
        - Cast
      summary: 今日の出勤情報取得API
      description: ログインしているキャストの今日の出勤情報を取得します。
      operationId: getTodaysShift
      parameters:
        - $ref: "./components/parameters/cast/CastIdPath.yaml"
      responses:
        '200':
          description: 正常系レスポンス. 休みの場合、bodyはnullになります。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TodaysShift"
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /casts/{castId}/sales/summary:
    get:
      tags:
        - Cast
      summary: 売上サマリ取得API
      description: ログインしているキャストの売上サマリを取得します。
      operationId: getSalesSummary
      parameters:
        - $ref: "./components/parameters/cast/CastIdPath.yaml"
      responses:
        '200':
          description: 正常系レスポンス
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SalesSummary"
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /web/shops/{shopId}/attendance-casts:
    get:
      tags:
        - Web
      summary: アテンダンスキャスト一覧取得API
      description: 指定された店舗と日付における出勤キャストの一覧を取得します。
      parameters:
        - $ref: "./components/parameters/web/ShopId.yaml"
        - $ref: "./components/parameters/web/Date.yaml"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AttendanceCast"
        "404":
          description: 店舗が見つかりません
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /web/shops/{shopId}:
    get:
      tags:
        - Web
      summary: 店舗情報取得API
      description: 指定したIDの店舗情報を取得します。
      parameters:
        - $ref: "./components/parameters/web/ShopId.yaml"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopInfo"
        "404":
          description: 店舗が見つかりません
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /web/shops/{shopId}/prices:
    get:
      tags:
        - Web
      summary: 料金情報取得API
      description: 指定した店舗の料金情報を取得します。
      parameters:
        - $ref: "./components/parameters/web/ShopId.yaml"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceInfo"
        "404":
          description: 店舗が見つかりません
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /web/casts/{castId}:
    get:
      tags:
        - Web
      summary: キャスト情報詳細取得API
      description: 指定したIDのキャストの詳細情報を取得します。
      parameters:
        - $ref: "./components/parameters/web/CastId.yaml"
        - name: shopId
          in: query
          required: false
          description: 店舗ID (キャストが複数の店舗に所属する場合の絞り込みに利用)
          schema:
            type: string
            example: "1014"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CastDetail"
        "404":
          description: キャストが見つかりません
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /web/reservations:
    post:
      tags:
        - Web
      summary: Web予約フォーム送信API
      description: 顧客がWeb予約フォームから予約情報を送信します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Reservation"
      responses:
        "201":
          description: 予約成功
        "400":
          description: リクエストが不正です
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: 指定されたキャスト、またはコースが見つかりません
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: 予約時間が既に埋まっています
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: サーバー内部エラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /cast/reservations:
    post:
      tags:
        - Cast
      summary: 予約情報送信API
      description: キャストが予約情報を登録します。
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CastReservation"
      responses:
        "201":
          description: 予約成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedCastReservationResponse"
        "400":
          description: 必須項目の未入力、形式エラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: 認証エラー（トークン不正）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: 店舗またはキャスト権限なし
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: 重複予約（同時刻に既存予約あり）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /cast/reservation-items:
    get:
      tags:
        - Cast
      summary: 予約項目取得API
      description: 予約フォームに必要な項目や選択肢のリストを取得します。キャストのシフト、店舗の営業時間、既存の予約状況を考慮した予約可能な日時も含まれます。
      parameters:
        - $ref: "#/components/parameters/CastQueryId"
        - $ref: "#/components/parameters/ShopQueryId"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReservationForm"
        "400":
          description: パラメータ不正
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: トークン不正または期限切れ
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: 店舗が存在しない、またはフォーム項目未設定
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: サーバー内部エラー
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    AttendanceCast:
      $ref: "./components/results/web/AttendanceCast.yaml"
    CastDetail:
      $ref: "./components/results/web/CastDetail.yaml"
    CastReservation:
      $ref: "./components/models/cast/CastReservation.yaml"
    CreatedCastReservation:
      $ref: "./components/results/cast/CreatedCastReservation.yaml"
    CreatedCastReservationResponse:
      $ref: "./components/results/cast/CreatedCastReservationResponse.yaml"
    Error:
      $ref: "./components/models/common/Error.yaml"
    PriceInfo:
      $ref: "./components/results/web/PriceInfo.yaml"
    Reservation:
      $ref: "./components/models/web/Reservation.yaml"
    ReservationForm:
      $ref: "./components/results/cast/ReservationForm.yaml"
    ReservationFormItem:
      $ref: "./components/results/cast/ReservationFormItem.yaml"
    ReservationFormItemOption:
      $ref: "./components/results/cast/ReservationFormItemOption.yaml"
    ReservationToday:
      $ref: "./components/models/cast/ReservationToday.yaml"
    SalesSummary:
      $ref: "./components/models/cast/SalesSummary.yaml"
    SalesSummaryItem:
      $ref: "./components/models/cast/SalesSummaryItem.yaml"
    ShopInfo:
      $ref: "./components/results/web/ShopInfo.yaml"
    TodaysReservations:
      $ref: "./components/models/cast/TodaysReservations.yaml"
    TodaysShift:
      $ref: "./components/models/cast/TodaysShift.yaml"
  parameters:
    CastIdPath:
      $ref: "./components/parameters/cast/CastIdPath.yaml"
    CastQueryId:
      $ref: "./components/parameters/cast/CastId.yaml"
    ShopQueryId:
      $ref: "./components/parameters/cast/ShopId.yaml"
  securitySchemes:
    BearerAuth:
      $ref: "./components/securitySchemes/BearerAuth.yaml"
